.typeFilter{
  font-weight: bold;
}

.alignFilter{
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.filtros{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 940px;
  margin: 0 auto;
  font-size: 1.125em;
  background: #E03F41;
  padding: 10px 0;
}

.filtros li{
  margin-left: 20px;
}

.filtros ul{
  display: flex;
  flex-wrap: wrap;
}

/* Produtos */
.produtos {
  display: flex;
  max-width: 960px;
  flex-wrap: wrap;
  margin: 0 auto;
}

.produto{
  display: flex;
  flex-wrap: wrap;
  max-width: 300px;
  max-height: 360px;
  margin: 5px 10px;
  background: #E03F41;
  padding: 10px;
}

.produto span {
  margin-top: 3px ;
  display: block;
  width: 300px;
}

.produto .buy{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 10px;
}

.buy a{
  padding: 2px;
  border-radius: 5px;
  background: rgb(106, 231, 106);
  transition: .2s;
  color: white;
}

.buy a:hover{
  background: rgb(81, 197, 81);
}

.active{
  display: none;
}

.img-produto{
  display: block;
  max-width: 300px;
  max-height: 300px;
  margin: 0 auto;
}

.ordItem{
  display: flex;
  flex-wrap: wrap;
  max-width: 290px;
  margin: 0 auto;
  max-height: 50px;
}

.ordItem span {
  justify-items: start;
}