.headModal {
  min-width: 300px;
  height: 30px;
  background: #E03F41;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1{
  font-size: 19px;
}

.item-info{
  min-width: 300px;
  height: 30px;
  background: #E03F41;
  display: flex;
  border-top: .8px solid rgba(0,0,0, .5);
  align-items: center;
}

.item-info span{
  display: flex;
  justify-content: center;
}

.item{
  display: flex;
  justify-content: start;
}

.item .nome{
  color: black;
  display: flex;
  flex-wrap: wrap;
  max-width: 150px;
}

.nome{
  min-width: 150px;
  padding-left: 10px;
}

.qtd{
  min-width: 75px;
}

input.qtd{
  max-width: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  font-size: 19px;
}

.total{
  min-width: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item span.total{
  color: black;
}
